/* Error: Undefined mixin.
 *    ,
 * 1  | / @include mobile{
 * 2  | |     .inicio{
 * 3  | |         .titulo{
 * 4  | |             font-size: 2.5rem;
 * 5  | |         }
 * 6  | |     }
 * 7  | |     .obra-slider{
 * 8  | |         img{
 * 9  | |             width: 20rem;
 * 10 | |             height: 20rem;
 * 11 | |         }
 * 12 | |     }
 * 13 | |     .servicios{
 * 14 | |         background: $grisoscuro-fondowpp;
 * 15 | |         display: grid;
 * 16 | |         grid-template-areas: 
 * 17 | |         "elemen1"
 * 18 | |         "elemen2"
 * 19 | |         "elemen3"
 * 20 | |         "elemen4"
 * 21 | |         "elemen5"
 * 22 | |         "elemen6";
 * 23 | |         .contenedor-hijo{
 * 24 | |             display: flex;
 * 25 | |             flex-direction: row;
 * 26 | |             img{
 * 27 | |                 margin: 1rem 1rem 1rem 0rem;
 * 28 | |                 
 * 29 | |                 width: 6rem;
 * 30 | |                 height: 6rem;
 * 31 | |                 border-radius: 50%;
 * 32 | |                 &:hover{
 * 33 | |                     border: 0.2rem solid $color-fondo-menu;
 * 34 | |                     transform: scale(1.1);
 * 35 | |                 }
 * 36 | |             }
 * 37 | |             b{
 * 38 | |                 font-size: 1rem;
 * 39 | |                 font-weight: 500;
 * 40 | |                 &:hover{
 * 41 | |                     color: $grisoscuro-fondowpp;
 * 42 | |                     background: $color-fondo-menu;
 * 43 | |                     border-radius: 0.5rem;
 * 44 | |                     transition-duration: 0.1s;
 * 45 | |                     transform: scale(0.1);
 * 46 | |                 }
 * 47 | |             }
 * 48 | |             a{
 * 49 | |                 color: $color-fondo-menu;
 * 50 | |                 text-decoration: none;
 * 51 | |             }
 * 52 | |         }
 * 53 | |     }
 * 54 | |     /*IMAGENES ALUMINIO*∕
 * 55 | |     #imagunancha{
 * 56 | |         width: 17rem;
 * 57 | |         height: 17rem;
 * 58 | |     }
 * 59 | |     #imagun{
 * 60 | |         margin-top: 7rem;
 * 61 | |         width: 15rem;
 * 62 | |     }
 * 63 | \ }
 *    '
 *   scss\componentes\mediaq.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 1  \2502  \250c  @include mobile{\a 2  \2502  \2502      .inicio{\a 3  \2502  \2502          .titulo{\a 4  \2502  \2502              font-size: 2.5rem;\a 5  \2502  \2502          }\a 6  \2502  \2502      }\a 7  \2502  \2502      .obra-slider{\a 8  \2502  \2502          img{\a 9  \2502  \2502              width: 20rem;\a 10 \2502  \2502              height: 20rem;\a 11 \2502  \2502          }\a 12 \2502  \2502      }\a 13 \2502  \2502      .servicios{\a 14 \2502  \2502          background: $grisoscuro-fondowpp;\a 15 \2502  \2502          display: grid;\a 16 \2502  \2502          grid-template-areas: \a 17 \2502  \2502          "elemen1"\a 18 \2502  \2502          "elemen2"\a 19 \2502  \2502          "elemen3"\a 20 \2502  \2502          "elemen4"\a 21 \2502  \2502          "elemen5"\a 22 \2502  \2502          "elemen6";\a 23 \2502  \2502          .contenedor-hijo{\a 24 \2502  \2502              display: flex;\a 25 \2502  \2502              flex-direction: row;\a 26 \2502  \2502              img{\a 27 \2502  \2502                  margin: 1rem 1rem 1rem 0rem;\a 28 \2502  \2502                  \a 29 \2502  \2502                  width: 6rem;\a 30 \2502  \2502                  height: 6rem;\a 31 \2502  \2502                  border-radius: 50%;\a 32 \2502  \2502                  &:hover{\a 33 \2502  \2502                      border: 0.2rem solid $color-fondo-menu;\a 34 \2502  \2502                      transform: scale(1.1);\a 35 \2502  \2502                  }\a 36 \2502  \2502              }\a 37 \2502  \2502              b{\a 38 \2502  \2502                  font-size: 1rem;\a 39 \2502  \2502                  font-weight: 500;\a 40 \2502  \2502                  &:hover{\a 41 \2502  \2502                      color: $grisoscuro-fondowpp;\a 42 \2502  \2502                      background: $color-fondo-menu;\a 43 \2502  \2502                      border-radius: 0.5rem;\a 44 \2502  \2502                      transition-duration: 0.1s;\a 45 \2502  \2502                      transform: scale(0.1);\a 46 \2502  \2502                  }\a 47 \2502  \2502              }\a 48 \2502  \2502              a{\a 49 \2502  \2502                  color: $color-fondo-menu;\a 50 \2502  \2502                  text-decoration: none;\a 51 \2502  \2502              }\a 52 \2502  \2502          }\a 53 \2502  \2502      }\a 54 \2502  \2502      /*IMAGENES ALUMINIO*/\a 55 \2502  \2502      #imagunancha{\a 56 \2502  \2502          width: 17rem;\a 57 \2502  \2502          height: 17rem;\a 58 \2502  \2502      }\a 59 \2502  \2502      #imagun{\a 60 \2502  \2502          margin-top: 7rem;\a 61 \2502  \2502          width: 15rem;\a 62 \2502  \2502      }\a 63 \2502  \2514  }\a    \2575 \a   scss\\componentes\\mediaq.scss 1:1  root stylesheet';
}
