.color-fondo{
    background-image: url('../imagenes/fondomadera.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 0.3rem solid $grisoscuro-fondowpp;
}
.nav-link{
    margin-right: 1.2rem;
    font-size: 1.7rem;
    font-weight: 540;
    color: $color-letras-menu;
    transition: 0.7s;
    border-radius: 2rem;
    &:hover{
        background: $gristrasparenteletrasmenu;
        font-weight: 400;
        color: $blanco-letras;
    }
}
.boton-menu{
    width: 40px;
}