body{
    font-family: 'Barlow', sans-serif;
}

.inicio{
    background-image: url('../imagenes/plano1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20% 0 15% 0;
    display: flex;
    justify-content: center;
    text-align: center;
    h1{
        font-size: 3rem;
        margin: 3rem;
        padding: 1rem;
        border-radius: 1rem;
        color: #000;
        /*-webkit-text-stroke: 0.1rem white;*/
        text-shadow: 5px 5px 5px $color-fondo-menu;
        background-color: rgba(128, 128, 128, 0.267);
        font-weight: bold; 


        b{
            color: #000;
            font-weight: bold; 
        }

        .ag{
            color: $blanco-letras;
            -webkit-text-stroke: 0.05em black;
            font-weight: bold; 
        }
    }
}

.obra-slider{
    display: flex;
    justify-content: center;
    background-image: url('../imagenes/fondomadera.png');
    background-size: cover;
    background-position: center;
    .slide{
        width: 40rem;
        margin: 3rem;
    }
    img{
        border-radius: 5rem $grisoscuro-fondowpp;
        width: 40rem;
        height: 30rem;
    }
    .carousel-inner{
        border-radius: 5rem;
    }
}

.servicios{
    background: $grisoscuro-fondowpp;
    display: grid;
    grid-template-areas: 
    "element1 element2 element3"
    "element4 element5 element6";
    border-bottom: 0.4rem dashed $color-fondo-menu;
    .contenedor-hijo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        img{
            display: flex;
            width: 11rem;
            height: 11rem;
            border-radius: 50%;
            &:hover{
                border: 0.3rem solid $color-fondo-menu;
                transform: scale(1.1);
            }
        }
        b{
            font-weight: 400;
            font-size: 1.3rem;
            &:hover{
                color: $grisoscuro-fondowpp;
                background: $color-fondo-menu;
                border-radius: 0.5rem;
                transition-duration: 0.1s;
                transform: scale(1.1);
            }
        }
        a{
            color: $color-fondo-menu;
            text-decoration: none;
        }
    }
}

.contacto{
    padding: 4rem;
    background: $grisoscuro-fondowpp;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h3{
        color: $color-fondo-menu;
        border-bottom: 0.3rem solid;
        font-weight: 200;
    }
    a{
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
        max-width: 25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        border-radius: 1rem;
        &:hover{
            background: $color-fondo-menu;
            transform: scale(1.2);
            transition-duration: 0.5s;
            color: $color-letras-menu;
        }
    }
}


.icono-wpp{
    position: fixed;
    z-index: 1;
    right: 0.5rem;
    bottom: 3.5rem;
    &:hover{
        background: $grisoscuro-fondowpp;
        border-radius: 1.5rem;
    }
}

.menu-fijo{
    position: fixed;
    z-index: 20;
    width: 100%;
}
.item{
    scroll-margin-top: 4.2rem; /* ESTO LO PONGO PARA CUANDO HAGO CLICK EN LA PAGINA,
     QUE AL BAJAR LA BARRA NO ME TAPE EL CONTENIDO DE ESA PAGINA */
}



