@include mobile{
    .inicio{
        h1{
            font-size: 250%;
            backdrop-filter: none;
        }
    }

    .servicios{
        .items-servicios{
            b{
                font-size: 80%;
            }
        }

    }
}